<section class="contacts-section">
  <div class="container contacts-container">
    <h2 class="contacts-title" id="contacts">
      Fresh Harvest Box has got you covered
    </h2>
    <ul class="contacts-img-items">
      <li class="mellon-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/contacts/mellon_desk@1x.jpg 1x,
              ./img/contacts/mellon_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/contacts/mellon_tab@1x.jpg 1x,
              ./img/contacts/mellon_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/contacts/mellon_mob@1x.jpg 1x,
              ./img/contacts/mellon_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/contacts/mellon_desk@1x.jpg"
            alt="Mellon"
            loading="lazy"
            width="792"
            height="502"
          />
        </picture>
      </li>
      <li class="blueberry-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/contacts/blueberry_desk@1x.jpg 1x,
              ./img/contacts/blueberry_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/contacts/blueberry_tab@1x.jpg 1x,
              ./img/contacts/blueberry_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/contacts/blueberry_desk@1x.jpg"
            alt="Blueberry"
            loading="lazy"
            width="400"
            height="502"
          />
        </picture>
      </li>
    </ul>
    <div class="contacts-sending-section">
      <p class="contacts-text">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="contacts-form">
        <div class="contacts-email-form">
          <label>
            <input
              class="contacts-email-input"
              type="email"
              name="user_email"
              placeholder="Enter email..."
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
          </label>
          <button data-menu-open
            class="contacts-email-btn"
            data-modal="2"
            type="submit"
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
