<section>
  <div class="container">
    <h2>Fresh Harvest Box has got you covered</h2>
    <ul>
      <li>
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="Melon" loading="lazy" width="335" height="476" />
        </picture>
      </li>
      <li>
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="Blueberry" loading="lazy" width="344" height="480" />
        </picture>
      </li>
    </ul>
    <p>
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <form>
      <label>
        <input type="email" name="user_email" required />
        <button type="submit">Send</button>
      </label>
    </form>
  </div>
</section>
