<footer class="footer-page">
  <div class="footer-container container">
    <div class="logo-wrap">
      <img
        class="footer-img"
        src="../img/Footer/Mobile-image.jpg"
        alt="Young woman with bananas"
        max-width="335px"
      />
      <div class="logo">
        <a class="logo-icon" href="">
          <svg width="16" height="16">
            <use href="../img/icon.svg#icon-vector-1"></use>
          </svg>
        </a>
        <p class="logo-text">fresh harvest box</p>
      </div>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list ul">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#howitworks">How It Works</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#fruits">Fruits</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="social-address-wrap">
      <div class="social">
        <ul class="social-list ul">
          <li class="social-item">
            <a
              href="https://www.facebook.com/"
              aria-label="Facebook link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="social-item-link"
              ><svg class="social-item-icon">
                <use href="../img/icon.svg#icon-Facebook"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/"
              aria-label="Instagram link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="social-item-link"
              ><svg class="social-item-icon">
                <use href="../img/icon.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a
              href="https://www.youtube.com/"
              aria-label="Youtube link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="social-item-link"
              ><svg class="social-item-icon">
                <use href="../img/icon.svg#icon-YouTube"></use></svg
            ></a>
          </li>
        </ul>
      </div>

      <address class="footer-address">
        <ul class="footer-contacts ul">
          <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              class="footer-contacts-link"
              href="https://goo.gl/maps/JGdomKv4STjrRMNL9"
              aria-label="GoogleMaps link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >1678 S. Pioneer Road<br />
              Salt Lake City UT<br />
              84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
