<section class="fruits-section">
  <div class="container">
    <h2 class="fruits-title">ORGANIC fRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list list">
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Strawberry</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">100 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Banana</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Watermelon</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Lime</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Apple</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Peach</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Plums</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Orange</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Kiwi</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <img srcset="" src="" alt="" />
        <p class="fruits-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="button order-button" type="button">
      <svg class="order-icon" width="14" height="14">
        <use href="../img/icon.svg#icon-uil-cart"></use>
      </svg>
      <span class="button-text">ORDER</span>
    </button>
  </div>
</section>
