<section class="fruits-section" id="fruits">
  <div class="container">
    <h2 class="fruits-title">ORGANIC FRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list list">
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Strawberry</h3>
          <p class="fruits-card-text">Plant</p>
        </div>

        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/strawberry@1x.webp 1x,
              ./img/fruits-fruits/strawberry@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/strawberry@1x.png 1x,
              ./img/fruits-fruits/strawberry@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/strawberry_mob@1x.webp 1x,
              ./img/fruits-fruits/strawberry_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/strawberry_mob@1x.png 1x,
              ./img/fruits-fruits/strawberry_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/strawberry@1x.png"
            alt="strawberry"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">100 UAH / kg</p>
      </li>

      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Banana</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/banana@1x.webp 1x,
              ./img/fruits-fruits/banana@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/banana@1x.png 1x,
              ./img/fruits-fruits/banana@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/banana_mob@1x.webp 1x,
              ./img/fruits-fruits/banana_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/banana_mob@1x.png 1x,
              ./img/fruits-fruits/banana_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/banana@1x.png"
            alt="banana"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Watermelon</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/melon@1x.webp 1x,
              ./img/fruits-fruits/melon@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/melon@1x.png 1x,
              ./img/fruits-fruits/melon@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/melon_mob@1x.webp 1x,
              ./img/fruits-fruits/melon_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/melon_mob@1x.png 1x,
              ./img/fruits-fruits/melon_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/melon@1x.png"
            alt="melon"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Lime</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/lime@1x.webp 1x,
              ./img/fruits-fruits/lime@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/lime@1x.png 1x,
              ./img/fruits-fruits/lime@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/lime_mob@1x.webp 1x,
              ./img/fruits-fruits/lime_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/lime_mob@1x.png 1x,
              ./img/fruits-fruits/lime_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/lime@1x.png"
            alt="lime"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Apple</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/apple@1x.webp 1x,
              ./img/fruits-fruits/apple@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/apple@1x.png 1x,
              ./img/fruits-fruits/apple@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/apple_mob@1x.webp 1x,
              ./img/fruits-fruits/apple_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/apple_mob@1x.png 1x,
              ./img/fruits-fruits/apple_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/apple@1x.png"
            alt="apple"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Peach</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/peach@1x.webp 1x,
              ./img/fruits-fruits/peach@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/peach@1x.png 1x,
              ./img/fruits-fruits/peach@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/peach_mob@1x.webp 1x,
              ./img/fruits-fruits/peach_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/peach_mob@1x.png 1x,
              ./img/fruits-fruits/peach_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/peach@1x.png"
            alt="peach"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Plums</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/plums@1x.webp 1x,
              ./img/fruits-fruits/plums@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/plums@1x.png 1x,
              ./img/fruits-fruits/plums@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/plums_mob@1x.webp 1x,
              ./img/fruits-fruits/plums_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/plums_mob@1x.png 1x,
              ./img/fruits-fruits/plums_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/plums@1x.png"
            alt="plums"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Orange</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/orange@1x.webp 1x,
              ./img/fruits-fruits/orange@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/orange@1x.png 1x,
              ./img/fruits-fruits/orange@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/orange_mob@1x.webp 1x,
              ./img/fruits-fruits/orange_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/orange_mob@1x.png 1x,
              ./img/fruits-fruits/orange_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/orange@1x.png"
            alt="orange"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Kiwi</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/fruits-fruits/kiwi@1x.webp 1x,
              ./img/fruits-fruits/kiwi@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/kiwi@1x.png 1x,
              ./img/fruits-fruits/kiwi@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/kiwi_mob@1x.webp 1x,
              ./img/fruits-fruits/kiwi_mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/fruits-fruits/kiwi_mob@1x.png 1x,
              ./img/fruits-fruits/kiwi_mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./img/fruits-fruits/kiwi@1x.png"
            alt="kiwi"
            loading="lazy"
            width="295"
            height="276"
          />
        </picture>
        <p class="fruits-price">90 UAH / kg</p>
      </li>
    </ul>
    <button data-modal-open class="button order-button" type="button">
      <svg class="order-icon" width="14" height="14">
        <use href="./img/icon.svg#icon-Vector-order"></use>
      </svg>
      <span class="button-text">ORDER</span>
    </button>
  </div>
</section>
