<section class="fruits-section">
  <div class="container">
    <h2 class="fruits-title" id="fruits">ORGANIC FRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list list">
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Strawberry</h3>
          <p class="fruits-card-text">Plant</p>
        </div>

        <picture class="fruits-cards">
          <source
            srcset="
              ./img/Fruits/strawberry@1x.png 1x,
              ./img/Fruits/strawberry@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/strawberry_mob@1x.png 1x,
              ./img/Fruits/strawberry_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/Fruits/strawberry_mob@1x.png"
            alt="strawberry"
            width="295"
          />
        </picture>

        <p class="fruits-price">100 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Banana</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/Fruits/banana@1x.png 1x,
              ./img/Fruits/banana@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/banana_mob@1x.png 1x,
              ./img/Fruits/banana_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/banana_mob@1x.png" alt="banana" width="295" />
        </picture>
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Watermelon</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="./img/Fruits/melon@1x.png 1x, ./img/Fruits/melon@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/melon_mob@1x.png 1x,
              ./img/Fruits/melon_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/melon_mob@1x.png" alt="melon" width="295" />
        </picture>
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Lime</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="./img/Fruits/lime@1x.png 1x, ./img/Fruits/lime@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/lime_mob@1x.png 1x,
              ./img/Fruits/lime_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/lime_mob@1x.png" alt="lime" width="295" />
        </picture>
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Apple</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="./img/Fruits/apple@1x.png 1x, ./img/Fruits/apple@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/apple_mob@1x.png 1x,
              ./img/Fruits/apple_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/apple_mob@1x.png" alt="apple" width="295" />
        </picture>
        <p class="fruits-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Peach</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="./img/Fruits/peach@1x.png 1x, ./img/Fruits/peach@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/peach_mob@1x.png 1x,
              ./img/Fruits/peach_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/peach_mob@1x.png" alt="peach" width="295" />
        </picture>
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Plums</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="./img/Fruits/plums@1x.png 1x, ./img/Fruits/plums@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/plums_mob@1x.png 1x,
              ./img/Fruits/plums_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/plums_mob@1x.png" alt="plums" width="295" />
        </picture>
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Orange</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="
              ./img/Fruits/orange@1x.png 1x,
              ./img/Fruits/orange@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/orange_mob@1x.png 1x,
              ./img/Fruits/orange_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/orange_mob@1x.png" alt="orange" width="295" />
        </picture>
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <div class="fruits-top">
          <h3 class="fruits-card-title">Kiwi</h3>
          <p class="fruits-card-text">Plant</p>
        </div>
        <picture class="fruits-cards">
          <source
            srcset="./img/Fruits/kiwi@1x.png 1x, ./img/Fruits/kiwi@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Fruits/kiwi_mob@1x.png 1x,
              ./img/Fruits/kiwi_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/Fruits/kiwi_mob@1x.png" alt="kiwi" width="295" />
        </picture>
        <p class="fruits-price">90 UAH / kg</p>
      </li>
    </ul>
    <button data-modal-open class="button order-button" type="button">
      <svg class="order-icon" width="14" height="14">
        <use href="./img/icon.svg#icon-Vector-order"></use>
      </svg>
      <span class="button-text">ORDER</span>
    </button>
  </div>
</section>
