<header class="header-page">
  <div class="header-container">
    <nav  class="nav-list">
      <ul class="header-nav">
        <li>
          <a class="header-text-nav" href="">How It Works</a>
        </li>
        <li>
          <a class="header-text-nav" href="">Fruits</a>
        </li>
        <li>
          <a class="header-text-nav" href="">Contacts</a>
        </li>
      </ul>
    </nav>

    <ul class="header-list">
      <li class="icon-header">
        <a class="icon-vector" href="">
          <svg width="16" height="16">
            <use href="../img/icon.svg#icon-vector-1"></use>
          </svg>
        </a>
        <p class="header-text">fresh harvest box</p>
      </li>
     
    </ul>
    <button  class="icon-cart" type="button">
      <svg width="28" height="28">
        <use href="../img/icon.svg#icon-uil-cart"></use></svg>
    </button>
    <button
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="menu-toggle-btn" width="24" height="24">
      <use href="../img/icon.svg#icon-gg_menu-left"></use>
    </svg>
  </button>
  </div>
</header>
<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="modal-icon" width="24" height="24">
      <use href="../images/icons.svg#icon-vector"></use>
    </svg>
  </button>

  </ul>
</div>
