<header class="header-page">
  <div class="header-container">
    <nav >
      <ul class="header-nav">
        <li>
          <a class="header-text-nav" href="">How It Works</a>
        </li>
        <li>
          <a class="header-text-nav" href="">Fruits</a>
        </li>
        <li>
          <a class="header-text-nav" href="">Contacts</a>
        </li>
      </ul>
    </nav>

    <ul class="header-list">
      <li class="icon-header">
        <a class="icon-vector" href="">
          <svg width="16" height="16">
            <use href="../img/icon.svg#icon-vector-1"></use>
          </svg>
        </a>
        <p class="header-text">fresh harvest box</p>
      </li>
      <li class="icon-cart">
        <a class="icon-header" href="">
          <svg width="28" height="28">
            <use href="../img/icon.svg#icon-uil-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
