<header class="header-page">
  <div class="header-container container">
    <nav class="nav-list">
      <ul class="header-nav">
        <li class="header-nav-link">
          <a class="header-text-nav" href="#howitworks">How It Works</a>
        </li>
        <li class="header-nav-link">
          <a class="header-text-nav" href="#fruits">Fruits</a>
        </li>
        <li class="header-nav-link">
          <a class="header-text-nav" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header-list logo-header">
      <a class="icon-vector" href="">
        <svg width="16" height="16">
          <use href="./img/icon.svg#icon-vector-1"></use>
        </svg>
        <p class="header-text">fresh harvest box</p>
      </a>
    </div>

    <div class="icon-cart">
      <a href="#fruits">
        <svg width="28" height="28">
          <use href="./img/icon.svg#icon-uil-cart"></use>
        </svg>
      </a>
    </div>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle-btn" width="24" height="24">
        <use href="./img/icon.svg#icon-gg_menu-left"></use>
      </svg>
    </button>
  </div>
</header>
<!-- Mobile menu -->

<div class="menu-container-mobile js-menu-container" id="mobile-menu">
  <div class="menu-mobile-logo">
    <ul class="menu-logo">
      <li class="icon-header">
        <a class="icon-vector" href="">
          <svg width="16" height="16">
            <use href="./img/icon.svg#icon-vector-1"></use>
          </svg>
          <p class="header-text">fresh harvest box</p>
        </a>
      </li>
    </ul>
    <button class="menu-toggle js-close-menu">
      <svg width="24" height="24">
        <use href="./img/icon.svg#icon-X"></use>
      </svg>
    </button>
  </div>

  <nav>
    <ul class="mobile-menu">
      <li>
        <a class="js-link" href="#howitworks">How It Works</a>
      </li>
      <li>
        <a class="js-link" href="#fruits">Fruits</a>
      </li>
      <li>
        <a class="js-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <div class="mobile-btn">
    <a class="js-link" href="#fruits">
      <svg width="28" height="28">
        <use href="./img/icon.svg#icon-Vector"></use>
      </svg>
    </a>
  </div>
</div>
