<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">
      Fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>

    <!------------ Image ------------>
         <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/ 1x,
              ./img/ 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/ 1x,
              ./img/ 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/ 1x,
              ./img/ 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/"
            alt=""
            loading="lazy"
            width=""
            height=""
          />
        </picture>

    <!------------ Button ------------>
    <div class="hero-btn-container">
      <a class="hero-btn" href="">Shop now</a>
    </div>
    
    <p class="hero-desk">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>

    <!------------ Watermelon block ------------>
    <section class="hero-fruit hero-fruit-watermelon">
      <h2 class="hero-fruit-title">Fruit</h2>
      <img class="hero-fruit-img" src="" alt="Watermelon" />
      <p class="hero-fruit-text">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </section>

    <!------------ #Hashtags ------------>
    <ul class="hero-hashtags-list list">
      <li class="hero-hashtags-item">
        <h3 class="hero-hashtags-title">ORGANIC</h3>
      </li>
      <li class="hero-hashtags-item">
        <h3 class="hero-hashtags-title">PRODUCTS</h3>
      </li>
      <li class="hero-hashtags-item">
        <h3 class="hero-hashtags-title">BASKET</h3>
      </li>
      <li class="hero-hashtags-item">
        <h3 class="hero-hashtags-title">FRUITS</h3>
      </li>
    </ul>

    <!------------ Strawberries block ------------>
    <section class="hero-fruit hero-fruit-strawberries">
      <h2 class="hero-fruit-title">Fruit</h2>
      <img class="hero-fruit-img" src="" alt="Strawberries" />
      <p class="hero-fruit-text">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </section>
  </div>
</section>
