<section class="hero">
  <div class="hero-container container">
    <!-- Title -->
    <h1 class="hero-title">
      Fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>

    <!-- Image -->
    <picture class="hero-picture">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/main-img-desk@1x.png 1x,
          ./img/hero/main-img-desk@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/main-img-tab@1x.png 1x,
          ./img/hero/main-img-tab@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./img/hero/main-img-mob@1x.png 1x,
          ./img/hero/main-img-mob@2x.png 2x
        "
        type="image/png"
      />
      <img
        class="hero-img"
        src="./img/hero/main-img-mob@1x.png"
        alt="Fresh harvest box"
        width="844"
        height="785"
      />
    </picture>

    <!-- Button -->
    <div class="hero-btn-container">
      <a class="hero-btn" href="#fruits">Shop now</a>
    </div>

    <p class="hero-desk">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>

    <!-- Watermelon block -->
    <section class="hero-fruit hero-fruit-watermelon">
      <h2 class="hero-fruit-title">Fruit</h2>
      <img
        class="hero-fruit-img"
        srcset="
          ./img/hero/watermelon@1x.png 1x,
          ./img/hero/watermelon@2x.png 2x
        "
        src="./img/hero/watermelon@1x.png"
        alt="watermelon "
        width="239"
        height="172"
        loading="lazy"
      />
      <p class="hero-fruit-text">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </section>

    <!-- #Hashtags block -->
    <div class="hero-hashtags-container">
      <ul class="hero-hashtags-list list">
        <li class="hero-hashtags-item">
          <h3 class="hero-hashtags-title">&#35;ORGANIC</h3>
        </li>
        <li class="hero-hashtags-item">
          <h3 class="hero-hashtags-title">&#35;PRODUCTS</h3>
        </li>
        <li class="hero-hashtags-item">
          <h3 class="hero-hashtags-title">&#35;BASKET</h3>
        </li>
        <li class="hero-hashtags-item">
          <h3 class="hero-hashtags-title">&#35;FRUITS</h3>
        </li>
      </ul>
    </div>

    <!-- Strawberries block -->
    <section class="hero-fruit hero-fruit-strawberries">
      <h2 class="hero-fruit-title">Fruit</h2>
      <img
        class="hero-fruit-img"
        srcset="
          ./img/hero/strawberries@1x.png 1x,
          ./img/hero/strawberries@2x.png 2x
        "
        src="./img/hero/strawberries@1x.png"
        alt="strawberries "
        width="239"
        height="187"
        loading="lazy"
      />
      <p class="hero-fruit-text">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </section>
  </div>
</section>
