
<section class="work container section">

  <h2 class="work-title">
    To order your fruit basket, simply follow these easy steps
  </h2>
  <p class="work-text">
    Our baskets are assembled with care and delivered straight to your doorstep,
    so you can enjoy the taste of fresh fruit without ever leaving your home.
    Whether you're looking for a healthy snack or a thoughtful gift, our fruit
    baskets are the perfect choice.
  </p>
  <ul class="work-list list">
    <li class="work-items">

      <h3 class="work-subtitle work-subtitle-FIrst">FIrst Step</h3>

      <p class="work-items-text">
        Just choose the fruit you want to order by clicking on the checkboxes
        next to it.
      </p>
    </li>
    <li class="work-items">

      <h3 class="work-subtitle work-subtitle-Second">Second Step</h3>
      <p class="work-items-text">Click on the basket and fill out the form.</p>
    </li>
    <li class="work-items">
      <h3 class="work-subtitle work-subtitle-Third">Third Step</h3>

      <p class="work-items-text">
        Sit back and relax! Your fresh fruit basket will be delivered.
      </p>
    </li>
  </ul>
  <div class="gif"></div>
  <!-- <img src="./img/Fresh-Harvest-Box.gif" alt="fruits and berries" width="860" /> -->
</section>
