<!---------------------------- Modal Your Order ----------------------------->
<!-- 
<div class="backdrop">
  <div class="modal">
    <h2 class="titel-modal">your order</h2>
    <button type="button" class="close-modal">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/icon.svg#icon-X"></use>
      </svg>
    </button>
    <form class="form-check-modal">
      <ul class="chek-lists-modal">
        <li class="strawberry-check-modal">
          <label for="user-check-strawberry">
            <p class="titel-check-modal">Strawberry Basket</p>
            <p class="text-check-modal">Plant</p>
            <picture>
              <source
                srcset="
                  img/your-order/strawberry-basket.jpg    1x,
                  img/your-order/strawberry-basket@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  img/your-order/Tablet-strawberry-basket.jpg    1x,
                  img/your-order/Tablet-strawberry-basket@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  img/your-order/Mobile-strawberry-basket.jpg    1x,
                  img/your-order/Mobile-strawberry-basket@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                src="img/your-order/Mobile-strawberry-basket.jpg"
                alt="strawberry"
              />
            </picture>
          </label>
          <input
            type="checkbox"
            id="user-check-strawberry"
            name="fruits"
            value="true"
            class="check-modal"
          />
        </li>
        <li class="apple-check-modal">
          <label for="user-check-apple">
            <p class="titel-check-modal">Apple Basket</p>
            <p class="text-check-modal">Plant</p>
            <picture>
              <source
                srcset="
                  img/your-order/Apple-Basket.jpg    1x,
                  img/your-order/Apple-Basket@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  img/your-order/Tablet-Apple-Basket.jpg    1x,
                  img/your-order/Tablet-Apple-Basket@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  img/your-order/Mobile-Apple-Basket.jpg    1x,
                  img/your-order/Mobile-Apple-Basket@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img src="img/your-order/Mobile-Apple-Basket.jpg" alt="apple" />
            </picture>
          </label>
          <input
            type="checkbox"
            id="user-check-apple"
            name="fruits"
            value="true"
            class="check-modal"
          />
        </li>
        <li class="mix-check-modal">
          <label for="user-check-mix">
            <p class="titel-check-modal">Fruits Basket</p>
            <p class="text-check-modal">Plant</p>
            <picture>
              <source
                srcset="
                  img/your-order/Fruits-Basket.jpg    1x,
                  img/your-order/Fruits-Basket@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  img/your-order/Tablet-Fruits-Basket.jpg    1x,
                  img/your-order/Tablet-Fruits-Basket@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  img/your-order/Mobile-Fruits-Basket.jpg    1x,
                  img/your-order/Mobile-Fruits-Basket@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img src="img/your-order/Mobile-Fruits-Basket.jpg" alt="apple" />
            </picture>
          </label>
          <input
            type="checkbox"
            id="user-check-mix"
            name="fruits"
            value="true"
            class="check-modal"
          />
        </li>
      </ul>
      <div class="wrap-input-modal">
        <input
          type="text"
          name="name"
          placeholder="Enter full name..."
          required
          class="input-modal"
        />
        <input
          type="email"
          name="mail"
          placeholder="Enter email..."
          required
          class="input-modal"
        />
        <input
          type="text"
          pattern="[0-9]{13,19}"
          inputmode="numeric"
          placeholder="Enter card..."
          required
          class="input-modal"
        />
        <textarea
          name="comments"
          placeholder="Enter comments..."
          class="textarea-modal"
        ></textarea>
        <button type="submit" class="button-submit">Submit</button>
      </div>
    </form>
    <picture>
      <source srcset="" media="" sizes="" type="" />
      <source srcset="" media="" sizes="" type="" />
      <img src="" alt="smile-girl" />
    </picture>
  </div>
</div> -->
