.fruits-section {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .fruits-section {
    padding-top: 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .fruits-section {
    padding-top: 150px;
  }
}

.fruits-title {
  font-weight: 500;
  font-size: 28px;

  text-align: center;

  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .fruits-title {
    font-size: 40px;

    width: 624px;
  }
}

.fruits-text {
  text-align: center;
  width: 100%;

  margin-bottom: 44px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 375px) {
  .fruits-text {
    width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .fruits-text {
    width: 624px;
  }
}

.fruits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  margin-bottom: 44px;
}
@media only screen and (max-width: 767px) {
  .fruits-item:nth-last-child(-n + 3) {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .fruits-item:last-child {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .fruits-list {
    gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .fruits-list {
    gap: 24px;
  }
}

.fruits-item {
  position: relative;

  width: 335px;
  height: 465px;
  background-color: rgba(248, 118, 107, 1);

  border-radius: 20px;

  /* animation-name: changeposition;
  animation-duration: 2000ms; */

  /* transform: scale(0);

  animation: rotate-scale-down-diag-1 0.8s linear both;
  animation-timeline: rotate-scale-down-diag-1; */
}

/* @keyframes rotate-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}
@scroll-timeline rotate-scale-down-diag-1 {
  time-range: 1s;
  start: selector(#fruits-item) end 0;
  end: selector(#fruits-item) start 1;
} */

@media only screen and (min-width: 768px) {
  .fruits-item {
    width: 344px;
  }
}
@media only screen and (min-width: 1280px) {
  .fruits-item {
    width: 389px;
  }
}

.fruits-item:nth-child(2) {
  background-color: rgba(237, 210, 81, 1);
}
.fruits-item:nth-child(3) {
  background-color: rgba(157, 194, 98, 1);
}
.fruits-item:nth-child(4) {
  background-color: rgba(191, 214, 99, 1);
}
.fruits-item:nth-child(5) {
  background-color: rgba(233, 63, 41, 1);
}
.fruits-item:nth-child(6) {
  background-color: rgba(219, 79, 75, 1);
}
.fruits-item:nth-child(7) {
  background-color: rgba(155, 83, 102, 1);
}
.fruits-item:nth-child(8) {
  background-color: rgba(244, 127, 76, 1);
}
.fruits-item:nth-child(9) {
  background-color: rgba(152, 179, 126, 1);
}

.fruits-top {
  position: absolute;
  top: 64px;
  left: 24px;

  margin-bottom: 4px;
}

.fruits-cards {
  position: absolute;
  top: 126px;
  left: 20px;
}

@media screen and (min-width: 768px) {
  .fruits-cards {
    position: absolute;
    top: 136px;
    left: 24.5px;
  }
}
@media screen and (min-width: 1280px) {
  .fruits-cards {
    left: 47px;
  }
}

.fruits-card-title {
  font-weight: 700;
  font-size: 24px;

  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .fruits-card-title {
    font-size: 32px;
  }
}
.fruits-card-text {
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .fruits-card-text {
    font-size: 18px;
  }
}

.fruits-price {
  position: absolute;
  left: 24px;
  bottom: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 126px;
  height: 42px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 1);
  color: var(--red-color);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.04em;
}
@media screen and (min-width: 768px) {
  .fruits-price {
    width: 136px;
    height: 48px;

    font-size: 18px;
  }
}

/* Order button */
.order-button {
  display: block;
  width: 80px;
  height: 80px;

  font-weight: 500;

  padding: 26px 7px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;
  border: none;

  color: rgba(255, 255, 255, 1);
  background-color: var(--green-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  transform: rotate(-14deg);

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);

  -webkit-animation: heartbeat 5s cubic-bezier(0.39, 0.575, 0.565, 1) 1s
    infinite reverse;
  animation: heartbeat 5s cubic-bezier(0.39, 0.575, 0.565, 1) 1s infinite
    reverse;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.order-button:hover,
.order-button:focus {
  color: var(--green-color);
  background-color: rgba(255, 255, 255, 1);

  text-transform: rotate(-14deg);
}

@media only screen and (min-width: 768px) {
  .order-button {
    width: 114px;
    height: 114px;

    font-size: 18px;
    padding: 38px 17px;
  }
}

.order-icon {
  fill: currentColor;
}
.order-icon:hover,
.order-icon:focus {
  fill: currentColor;
}
