.fruits-title {
  font-weight: 500;
  font-size: 28px;

  text-align: center;

  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .fruits-title {
    font-size: 40px;

    width: 624px;
  }
}

.fruits-text {
  text-align: center;
  width: 335px;

  margin-bottom: 44px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .fruits-text {
    width: 624px;
  }
}

.fruits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  margin-bottom: 44px;
}
@media only screen and (max-width: 767px) {
  .fruits-item:nth-last-child(-n + 3) {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .fruits-item:last-child {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .fruits-list {
    gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .fruits-list {
    gap: 24px;
  }
}

.fruits-item {
  position: relative;

  width: 335px;
  height: 465px;
  background-color: rgba(248, 118, 107, 1);

  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .fruits-item {
    width: 344px;
  }
}
@media only screen and (min-width: 1280px) {
  .fruits-item {
    width: 389px;
  }
}

.fruits-item:nth-child(2) {
  background-color: rgba(237, 210, 81, 1);
}
.fruits-item:nth-child(3) {
  background-color: rgba(157, 194, 98, 1);
}
.fruits-item:nth-child(4) {
  background-color: rgba(191, 214, 99, 1);
}
.fruits-item:nth-child(5) {
  background-color: rgba(233, 63, 41, 1);
}
.fruits-item:nth-child(6) {
  background-color: rgba(219, 79, 75, 1);
}
.fruits-item:nth-child(7) {
  background-color: rgba(155, 83, 102, 1);
}
.fruits-item:nth-child(8) {
  background-color: rgba(244, 127, 76, 1);
}
.fruits-item:nth-child(9) {
  background-color: rgba(152, 179, 126, 1);
}

.fruits-top {
  position: absolute;
  top: 64px;
  left: 24px;

  margin-bottom: 4px;
}

.fruits-cards {
  position: absolute;
  top: 126px;
  left: 20px;
}

@media screen and (min-width: 768px) {
  .fruits-cards {
    position: absolute;
    top: 136px;
    left: 24.5px;
  }
}
@media screen and (min-width: 1280px) {
  .fruits-cards {
    left: 47px;
  }
}

.fruits-card-title {
  font-weight: 700;
  font-size: 24px;

  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .fruits-card-title {
    font-size: 32px;
  }
}
.fruits-card-text {
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .fruits-card-text {
    font-size: 18px;
  }
}

.fruits-price {
  position: absolute;
  left: 24px;
  bottom: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 126px;
  height: 42px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 1);
  color: var(--red-color);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.04em;

  /* padding: 12px 24px; */
}
@media screen and (min-width: 768px) {
  .fruits-price {
    width: 136px;
    height: 48px;

    font-size: 18px;

    /* padding: 12px 21px; */
  }
}

/* Order button */
.order-button {
  display: block;
  width: 80px;
  height: 80px;

  font-weight: 500;

  padding: 26px 7px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;
  border: none;

  color: rgba(255, 255, 255, 1);
  background-color: var(--green-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  transform: rotate(-14deg);
}
.order-button:hover,
.order-button:focus {
  color: var(--green-color);
  background-color: rgba(255, 255, 255, 1);

  text-transform: rotate(-14deg);

  /* transition: ; */
}

@media only screen and (min-width: 768px) {
  .order-button {
    width: 114px;
    height: 114px;

    font-size: 18px;
    padding: 38px 17px;
  }
}

.order-icon {
  fill: currentColor;
}
.order-icon:hover,
.order-icon:focus {
  fill: currentColor;
}
