.header-page {
  background-color: var(--white-color);
}
.header-text-nav {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--red-color);
  padding: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-text {
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-color);
}
.header-container {
  height: 50px;
  display: flex;
  align-items: center;
}
.header-nav {
  display: none;
}
.header-nav-link {
  transition: transform var(--transition-dur-and-func);
}

.header-nav-link:hover,
.header-nav-link:focus {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav {
    gap: 20px;
  }
}
.header-list {
  margin-right: auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header-list {
    position: static;
    margin-left: 94px;
  }
}
@media screen and (min-width: 1280px) {
  .header-list {
    margin-left: 322px;
  }
}
/* .icon-header {
  display: flex;
  align-items: center;
} */

.icon-cart {
  display: none;
}
.icon-cart {
  transition: transform var(--transition-dur-and-func);
}

.icon-cart:hover,
.icon-cart:focus {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .icon-cart {
    padding: 0;
    display: block;
    border: none;
    background-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.icon-vector {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-header {
  transition: transform var(--transition-dur-and-func);
}

.logo-header:hover,
.logo-header:focus {
  transform: scale(1.2);
}

/* mobile menu*/

.menu-mobile-logo {
  height: 50px;
  background-color: #fff;
}
.menu-logo {
  margin-left: 20px;
  display: flex;
  /* position: absolute;
  top: 16px; */
}

@media screen and (min-width: 375px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container-mobile {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%; */
  width: 100vw;
  height: 100vh;
  background-color: var(--red-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container-mobile.is-open {
  transform: translateX(0);
}

.menu-container-mobile .menu-toggle {
  position: absolute;
  top: 4px;
  right: 20px;
  color: var(--red-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 124px;
  padding-bottom: 16px;
}

.mobile-menu .link {
  display: block;
  color: var(--white-color);
  text-decoration: none;
}
.mobile-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: transparent;
}
