.header-page {
  
  background-color: #fff;
}
.header-text-nav {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ae1332;
}

.header-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ae1332;
}
.header-container {
  height: 50px;
  display: flex;
  align-items: center;
  
}
.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: blok;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav {
    gap: 20px;
  }
}
.header-list {
  margin-left: 20px;
  display: flex;
}
@media screen and (min-width: 768px) {
    .header-list {
     margin-left: 94px;
   }
}
@media screen and (min-width: 1280px) {
  .header-list {
    margin-left: 322px;
  
  }
}
.icon-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-cart {
  display: none;
}
@media screen and (min-width: 768px) {
  .icon-cart {
    padding: 0;
    position: absolute;
    top: 11px;
    right: 32px;
    display: block;
    border: none;
    background-color: transparent;
  }
  
}
.icon-vector {
  display: flex;
  align-items: center;
}

/* mobile menu*/
@media screen and (min-width: 375px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle {
  position: absolute;
  right: 20px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  } */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
