.hero-section {
  padding-top: 56px;
  padding-bottom: 80px;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.hero-container {
  position: relative;
}

/* Title */
.hero-title {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 375px) {
.hero-title {
  width: 335px;
}
}

/* Image */
.hero-picture,
.hero-img {
  margin: 0 auto 71px auto;
}

/* Button */
@media only screen and (min-width: 375px) {
  .hero-btn-container {
    position: absolute;
    top: 504px;
    left: 50%;
    transform: translate(-50%);
  }
}
@media only screen and (max-width: 374.99px) {
  .hero-btn-container {
    display: none;
  }
}
.hero-btn {
  display: flex;
  text-align: center;
  align-items: center;

  width: 80px;
  height: 80px;

  color: var(--red-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;

  transform: rotate(-14deg);
  background-color: var(--white-color);
  border-radius: 50%;

  cursor: pointer;
  transition: color var(--transition-dur-and-func);

  -webkit-animation: heartbeat 5s cubic-bezier(0.39, 0.575, 0.565, 1) 1s infinite reverse;
    animation: heartbeat 5s cubic-bezier(0.39, 0.575, 0.565, 1) 1s infinite reverse;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--green-color);
}

.hero-desk {
  display: block;
  max-width: 279px;
  margin: 0 auto 44px auto;
}

/* Watermelon and strawberries block */
.hero-fruit {
  padding-top: 28px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 249px;

  border-radius: 500px;
}
.hero-fruit-watermelon {
  background-color: var(--green-color);
  margin-bottom: 44px;
}
.hero-fruit-strawberries {
  background-color: var(--yellow-color);
}
.hero-fruit-title {
  display: block;
  text-align: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
.hero-fruit-watermelon .hero-fruit-title {
  margin-bottom: 61px;
}
.hero-fruit-strawberries .hero-fruit-title {
  margin-bottom: 19px;
}
.hero-fruit-text {
  display: block;
  text-align: center;
  max-width: 155px;
  margin: auto;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}

/* #Hashtags block */

.hero-hashtags-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 44px;
}
.hero-hashtags-item {
  display: block;
  text-align: center;
  padding: 12px 32px;
  min-width: 125px;

  border: 1px solid var(--white-color);
  border-radius: 1000px;
}

/* Only for mobile screen */
@media only screen and (max-width: 767px) {
  .hero-hashtags-item:nth-child(2n) {
    min-width: 132px;
  }
}
.hero-hashtags-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}

/* -------------------------------------------------------------- */
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 55px;
    padding-bottom: 144px;
  }
  .hero-title {
    width: 714px;
    top: 9px;

    font-size: 50px;
    line-height: 1.08;
  }
  .hero-picture,
  .hero-img {
    margin-bottom: 59px;
  }
  .hero-btn-container {
    top: 690px;
  }
  .hero-btn {
    width: 104px;
    height: 104px;

    font-size: 28px;
    line-height: 1;
  }
  .hero-desk {
    margin-left: 0;
    margin-bottom: 341px;
  }
  .hero-hashtags-container {
    display: flex;
    justify-content: flex-end;
  }
  .hero-hashtags-list {
    justify-content: flex-end;
    margin-bottom: 0;
    width: 270px;
  }
  .hero-hashtags-item {
    min-width: min-content;
  }
  .hero-fruit-watermelon {
    position: absolute;
    bottom: -9px;
    left: 32px;
    margin-bottom: 0;
  }
  .hero-fruit-strawberries {
    position: absolute;
    bottom: 128px;
    right: 32px;
  }
}

/* -------------------------------------------------------------- */
/* Desktop */
@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 39px;
    padding-bottom: 253px;
  }
  .hero-title {
    width: 920px;
    top: 25px;

    font-size: 64px;
    line-height: 1;
  }
  .hero-img,
  .hero-picture {
    margin: 0 auto;
  }
  .hero-desk {
    position: absolute;
    top: 369px;
    left: 30px;
  }
  .hero-btn-container {
    top: 706px;
  }
  .hero-fruit-watermelon {
    bottom: -103px;
    left: 630px2px;
  }
  .hero-fruit-strawberries {
    bottom: 121px;
    right: 30px;
  }
  .hero-hashtags-container {
    position: absolute;
    bottom: -7px;
    right: 13px;
  }
}
