@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how-it-works.css');
@import url('./fruits.css');
@import url('./contacts.css');
@import url('./footer.css');
@import url('./your-order.css');
@import url('./thank-you.css');

:root {
  --red-color: rgba(174, 19, 50, 1);
  --black-color: rgba(0, 0, 0, 1);
  --green-color: rgba(164, 203, 102, 1);
  --yellow-color: rgba(245, 206, 19, 1);
  --white-color: rgba(255, 255, 255, 1);
}

.visually-hidden {

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  letter-spacing: -0.04em;
  background-color: rgba(174, 19, 50, 1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
 padding-left: 20px;
 padding-right: 20px;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
