         /* Thank-you*/
        .modal-window-close {
          position: absolute;
          top: 20px;
          left: unset;
          right: 20px;
          cursor: pointer;
        }
    
        .close-icon-thank-you {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #E03F5E;
        }
    
        .close-icon-thank-you::before,
        .close-icon-thank-you::after {
          content: '';
          position: absolute;
          width: 12px;
          height: 2px;
          background-color: #FFF;
          transition: background-color 250ms linear;
        }
    
        .close-icon-thank-you::before {
          transform: translate(-50%, -50%) rotate(45deg);
          top: 50%;
          right: 50%;
        }
    
        .close-icon-thank-you::after {
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          right: 50%;
        }
    
        .modal-thank-you {
          position: fixed;
          width: 100%;
          width: 600px;
          height: 545px;
          padding: 20px;
          top: 50%;
          left: 50%;
          border-radius: 20px;
          transform: translate(-50%, -50%) scaleY(1);
          transition: transfopm 250ms;
          background: #E03F5E;
        }
    
        .icon-thank-you {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
    
        }
    
        .text-thank-you {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0px;
          gap: 14px;
          position: absolute;
          width: 391px;
          height: 130px;
          left: 105px;
          right: 104px;
          top: 335px;
        }
    
        .main-text {
          width: 209px;
          height: 44px;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 44px;
          display: flex;
          align-items: center;
          letter-spacing: -0.04em;
          text-transform: uppercase;
          color: #FFFFFF;
          text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
          flex: none;
          order: 0;
          flex-grow: 0;
        }
    
        .p-text-thank-you {
          width: 391px;
          height: 72px;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: -0.04em;
          color: #FFFFFF;
          text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
          flex: none;
          order: 1;
          flex-grow: 0;
        }
    
        .close-modal-thank-you {
          display: flex;
          margin-left: auto;
          margin-right: auto;
          border: none;
          background-color: transparent;
    
        }
    
        .close-icon-thank-you:hover::before,
        .close-icon-thank-you:hover::after {
          background-color: #E03F5E;
        }
    
        /*Dextop-1280*/
        @media (min-width: 1280px) {
          .modal-thank-you {
            width: 600px;
            height: 545px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
    
          .text-thank-you {
            width: 391px;
            height: 130px;
            left: 105px;
            right: 104px;
            top: 335px;
    
          }
        }
    
        /*Tablet-768*/
        @media (min-width: 768px) and (max-width: 1279px) {
          .modal-thank-you {
            width: 600px;
            height: 545px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
    
          .text-thank-you {
            width: 391px;
            height: 130px;
            left: 105px;
            right: 104px;
            top: 335px;
          }
    
        }
    
    
    
        /*Mobile-375*/
        @media (max-width: 767px) {
          .modal-thank-you {
            width: 335px;
            height: 426px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
    
          }
    
          .text-thank-you {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 14px;
    
            position: absolute;
            width: 295px;
            height: 150px;
            left: 20px;
            top: 236px;
          }
    
          .main-text {
            width: 146px;
            height: 28px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
            flex: none;
            order: 0;
            flex-grow: 0;
          }
    
          .p-text-thank-you {
            width: 295px;
            height: 108px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            align-items: center;
            text-align: center;
            letter-spacing: -0.04em;
            color: #FFFFFF;
            text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
            flex: none;
            order: 1;
            flex-grow: 0;
          }
    
          .icon-thank-you {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 100%;
            max-width: 176px;
            height: auto;
            margin-bottom: 20px;
    
    
          }
        }