/* Modal Your Order */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  /* transition: opacity 250ms linear, visibility 250ms linear; */
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 20px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
  background: var(--white-color);
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (min-width: 375px) {
  .modal {
    max-width: 335px;
    max-height: 903px;
  }
}

.titel-modal {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  align-items: center;
  color: var(--red-color);
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .titel-modal {
    font-size: 40px;
    line-height: 1.1;
  }
}

.close-modal {
  position: absolute;
  top: 22px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--titel-text-color);
  border: transparent;
  color: var(--red-color);
}

.titel-check-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .titel-check-modal {
    font-size: 18px;
    position: absolute;
    top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .titel-check-modal {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .text-check-modal {
    top: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .text-check-modal {
    top: 76px;
  }
}

.text-check-modal {
  position: absolute;
}

.label-modal {
  display: block;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  flex-direction: start;
}

/* .wrap-card-modal-text {
  display: flex;
  flex-direction: column;
} */
.pic-fruits-modal {
  position: absolute;
  right: 20px;
  top: 16px;
  /* display: flex;
  justify-content: flex-end; */
}

@media screen and (min-width: 768px) {
  .pic-fruits-modal {
    right: 33px;
    top: 88px;
  }

  .pic {
    position: absolute;
    right: 14px;
    bottom: 14px;
  }
}

/* @media screen and (min-width: 1280px) {
    .pic-fruits-modal {
      right: 42px;
      top: 14px;
  }
  } */
.strawberry-check-modal {
  height: 119px;
  flex-basis: auto;
  padding: 16px 32px 8px 20px;
  background: #F8766B;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .strawberry-check-modal {
    height: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .strawberry-check-modal {
    height: 308px;
  }
}

.apple-check-modal {
  height: 119px;
  flex-basis: auto;
  padding: 16px 32px 8px 20px;
  background: #EDD251;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .apple-check-modal {
    height: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .apple-check-modal {
    height: 308px;
  }
}

.mix-check-modal {
  height: 119px;
  flex-basis: auto;
  padding: 16px 32px 8px 20px;
  background: #9DC262;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .mix-check-modal {
    height: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .mix-check-modal {
    height: 308px;
  }
}

/* ----------------Input-modal--------------------- */
.input-modal::placeholder {
  color: black;
}

.input-modal:focus {
  outline: 1px solid var(--green-color);
  outline-offset: -1px;
}

.input-modal {
  display: block;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: black;
  width: 100%;
  height: 46px;
  margin-bottom: 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .input-modal {
    height: 48px;
  }
}

.wrap-input-modal {
  max-width: 360px;
}

.wrap-input-modal input::placeholder {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.5);
}

.wrap-input-modal input:focus::placeholder {
  color: var(--green-color);
}

.wrap-input-modal textarea::placeholder {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.5);
}

.wrap-input-modal textarea:focus::placeholder {
  color: var(--green-color);
}

.textarea-modal {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: black;
  width: 100%;
  height: 132px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 20px;
  resize: none;
  padding: 14px 24px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .textarea-modal {
    height: 145px;
  }
}

@media screen and (min-width: 1280px) {
  .mix-check-modal {
    height: 308px;
  }
}

.textarea-modal::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: black;
}

.textarea-modal:focus {
  outline: 1px solid var(--green-color);
  outline-offset: -1px;
}

.input-modal:not(:focus):not(:placeholder-shown):valid {
  background-color: var(--green-color);
}

.input-modal:not(:focus):not(:placeholder-shown):invalid {
  outline: 2px solid var(--red-color);
}

.button-submit {
  display: block;
  padding: 12px 24px;
  background: var(--green-color);
  border-radius: 100px;
  border: 1px solid transparent;
  font-family: inherit;
  color: inherit;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .button-submit {
    padding: 15px 35px;
  }
}

.button-submit:hover,
.button-submit:focus {
  border: 1px solid var(--green-color);
  background-color: var(--white-color);
  color: var(--green-color);
}

/* ----------------Check box----------------------- */
.chek-lists-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

.check-check {
  position: relative;
}

.check-modal {
  display: flex;
  position: absolute;
  top: 37px;
  right: 15px;
}

.icon-unchecked {
  opacity: 1;
}

.check-modal:checked+.check-icon>.icon-unchecked {
  opacity: 0;
}

.icon-chekd {
  opacity: 0;
}

.check-modal:checked+.check-icon>.icon-chekd {
  opacity: 1;
}

/* .icon-unchecked-tablet {
  opacity: 1;
}
.check-modal:checked + .check-icon-tablet > .icon-unchecked-tablet {
  opacity: 0;
}
.icon-chekd-tablet {
  opacity: 0;
}
.check-modal:checked + .check-icon-tablet > .icon-chekd-tablet {
  opacity: 1;
} */
.check-icon,
.check-icon-tablet {
  position: absolute;
  top: 14px;
  right: 14px;
}

/* @media screen and (min-width: 768px) {
  .check-icon {
    display: none;
  }
} */
/* @media screen and (max-width: 767px) {
  .check-icon-tablet {
    display: none;
  }
} */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

       /* .check-icon {
      display: none;
    } */
  .backdrop {
    background-color: rgba(46, 47, 66, 0.4);
  }

  .modal {
    max-height: 853px;
    max-width: 753px;
    padding: 40px;
    background-image: url(../img/your-order/banan-girl-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 290px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .modal {
      background-image: url(../img/your-order/banan-girl-tablet@2x.png);
    }
  }

  .chek-lists-modal {
    /* justify-content: center; */
    flex-direction: row;
  }

  .check-check {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .modal {
    max-height: 911px;
    max-width: 891px;
    padding: 40px;
    background-image: url(../img/your-order/banan-girl-desk@1x.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 471px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .modal {
      background-image: url(../img/your-order/banan-girl-desk@2x.png);
    }
  }

  .chek-lists-modal {
    gap: 20px;
  }
}