/* Modal Your Order */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* transition: opacity 250ms linear, visibility 250ms linear; */
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 375px;
  max-height: 903px;
  padding: 20px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
  background: var(--white-color);
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
}

.titel-modal {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 40px;
  align-items: center;
  color: var(--red-color);
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.close-modal {
  display: flex;
  position: absolute;
  top: 22px;
  right: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--titel-text-color);
  border: transparent;
  color: var(--red-color);
  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.titel-check-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: -0.04em;
}
.text-check-modal {
  display: block;
}

.pic-fruits-modal {
  display: flex;
  justify-content: flex-end;
  flex-direction: start;
}

.strawberry-check-modal {
  max-height: 119px;
  flex-basis: auto;
  padding: 16px 32px 8px 20px;
  background: #f8766b;
  border-radius: 20px;
}

.apple-check-modal {
  max-height: 119px;
  flex-basis: auto;
  padding: 16px 32px 8px 20px;
  background: #edd251;
  border-radius: 20px;
}

.mix-check-modal {
  max-height: 119px;
  flex-basis: auto;
  padding: 16px 32px 8px 20px;
  background: #9dc262;
  border-radius: 20px;
}

/* ----------------Input-modal--------------------- */
.input-modal::placeholder {
  color: black;
}
.input-modal:focus {
  outline: 1px solid red;
  outline-offset: -1px;
}

.input-modal {
  display: block;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: black;
  width: 100%;
  height: 46px;
  margin-bottom: 14px;
  opacity: 0.3;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 100px;
}

.textarea-modal {
  display: block;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: black;
  width: 100%;
  height: 132px;
  border: 1px solid black;
  background-color: transparent;
  opacity: 0.3;
  border-radius: 20px;
  resize: none;
  padding: 14px 24px;
  margin-bottom: 20px;
}

.textarea-modal::placeholder {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: black;
}

.textarea-modal:focus {
  outline: 1px solid red;
  outline-offset: -1px;
}

.input-modal:invalid {
  outline: 1px solid red;
}

.button-submit {
  display: block;
  padding: 15px 35px;
  background: var(--green-color);
  border-radius: 100px;
  border: 1px solid transparent;
  font-family: inherit;
  color: inherit;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.button-submit:hover,
.button-submit:focus {
  border: 1px solid var(--green-color);
  background-color: var(--white-color);
  color: var(--green-color);
}

/* ----------------Check box----------------------- */
.chek-lists-modal {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 40px;
}

.check-check {
  position: relative;
}

.check-modal {
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .backdrop {
    background-color: rgba(46, 47, 66, 0.4);
  }

  .modal {
    max-height: 853px;
    max-width: 753px;
    padding: 40px;
  }

  .chek-lists-modal {
    justify-content: center;
    flex-direction: row;
    gap: 12px;
  }

  .strawberry-check-modal {
    height: 250px;
    width: 200px;
  }

  .apple-check-modal {
    height: 250px;
    width: 200px;
  }

  .mix-check-modal {
    height: 250px;
    width: 200px;
  }

  .wrap-input-modal {
    max-width: 360px;
  }

  .banana-girl {
    position: absolute;
    top: 33%;
    right: 0;
  }

  /* .smile-girl {

  } */
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .strawberry-check-modal {
    height: 308px;
    width: 257px;
  }

  .apple-check-modal {
    height: 308px;
    width: 257px;
  }

  .mix-check-modal {
    height: 308px;
    width: 257px;
  }
}
